<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>meeting venues</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js" defer></script>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    body{
        font-family: 'Poppins', sans-serif;
    }

    html {
        scroll-behavior: smooth;
    }
    .footer {
  background: #010f2a;
  color: #b5a191;
}

form textarea {
  resize: none;
  outline: none;
}
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
		<a class="navbar-brand" href="/"><img src="/Image/logos.png" alt="logo" height="70" width="70"> SABRINA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-end mx-5" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link btn btn-success" href="/assets/safari">SAFARIS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/assets/wedding">WEDDINGS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MEETINGS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/assets/offer">OFFERS</a>
      </li>
    </ul>
  </div>
	</nav>

    <div class="image-show position-relative">
        <img src="/Image/mee.jpg" alt="" style="width: 100vw;" height="750">
        <p class="fs-3 position-absolute bottom-0 fw-semibold start-20 fw-light text-center text-white p-2" style="background-color: rgba(0,0,0, .55);">MEETING ROOM AT OPHEACUS, SABRINA</p>
    </div>
    <div class="meeting-intro mt-4">
        <p class="text-center fw-semibold fs-4">BUSINESS MEETINGS, CONFERENCE & RETREATS</p>
        <p class="text-center fw-semibold fs-3" style="color: saddlebrown;">UNIQUE AND EFFICIENT EVENTS</p>

        <div class="desc-text" style="max-width: 1600px;">
            <p style="width: 50%; margin: 20px auto;" class="text-center">Your meeting, conference or executive retreat is your calling card – an opportunity to inspire your guests and set yourself apart from your competition. But it has to be perfect, not only in the little details, but in its reflection of who you are as a company.

                At Serena Hotels, we provide brilliant venues for getting together, whether it’s Uganda’s premier conference venue, Islamabad’s most exquisite banquet hall or an outdoor setting by a Kenyan River teeming with hippos. Yet we also provide more: the experience and creativity required to do something different. Just as no two companies are the same, each special event we design is unique to its host. We achieve this by personally collaborating with you, listening to your objectives and using our expertise to bring your vision to life, vividly and without comparison. We understand where you want to go and we know how to get you there.
                
                Extra Effort Means Extraordinary
                
                From the very earliest planning stages until the last guest has departed, experienced Event Coordinators will ensure that everything is perfect. Our inspiring and innovative venues are equipped with state-of-the-art technology to ensure full connectivity. Our gourmet cuisine transforms even the briefest of coffee breaks into nourishing mini banquets. And our 5-star accommodation, amenities and restaurants make it easy for your guests to take their minds off work once the day’s business is complete.
                
                At Serena Hotels, signature events are our specialty.</p>
        </div>
    </div>

    <div class="meeting-venue my-5">
        <h4 class="text-center fw-bold desc">FEATURED MEETING VENUES</h4>
        <div class="container">
            <div class="col-sm d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="/Image/meet1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">EXECUTIVE SUITE - ROOM 1</p>
                      <a href="/assets/meetingvenue" class="btn btn-warning font-weight-bold">BOOK NOW (FROM $1120)</a>
                    </div>
                  </div>
                <div class="card mx-3" style="width: 18rem;">
                    <img src="/Image/meet2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">MFANGANO GARDENS</p>
                      <a href="/assets/meetingvenue" class="btn btn-warning font-weight-bold">BOOK NOW (FROM $600)</a>
                    </div>
                  </div>
                <div class="card" style="width: 18rem;">
                    <img src="/Image/meet3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">WHITELILY SUITE</p>
                      <a href="/assets/meetingvenue" class="btn btn-warning font-weight-bold">BOOK NOW (FROM $400)</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <footer class="footer d-flex flex-column">
        <div class="wrapper d-flex p-3 justify-content-center">
          <div class="contact mt-5">
            <h6 class="mb-3 fw-bold">CONTACT US</h6> 
            <p>+254 703 049 000</p>
            <p>reservations.nairobi@sabrina.com</p> 
          </div>
          <div class="useful-info mx-4 mt-5">
            <h6 class="mb-3 fw-bold">HELPFUL INFO</h6>
            <div class="categories d-flex">
              <div class="first-category">
                <p>PRESS ROOM</p>  
                <p>CONTACT US</p>          
                <p>LOYALTY PROGRAMME</p>          
                <p>BEST RATES GUARANTEE</p>          
                <p>FAQ</p>              
              </div>
              <div class="second-category ms-5">
                  <p>CAREERS</p>
                  <p>ABOUT US</p>
                  <p>IMPRINT</p>
                  <p>LEGAL</p>
                  <p>SITEMAP</p>
              </div>
            </div>
          </div>
          <div class="message-center mt-5">
            <h6 class="fw-bold">SEND ANY QUESTIONS HERE</h6>
            <form action="/send" method="post" class="d-flex flex-column">
              <textarea name="question" id="question" cols="30" rows="2"></textarea>
              <button class="btn btn-warning mt-2">Send Message</button>
            </form>
            <div class="credits mt-2">
              <p>&copy; 2022 SABRINA HOTEL AND RESORT</p>
            </div>
          </div>
        </div>
          <div class="footer-end">
            <p class="text-center">SABRINA HOTEL AND RESORT NAIROBI, CHIROMO ROAD, 00080, NAIROBI KENYA +254 703 049 000</p>
          </div>
        
      </footer>
</body>
</html>