<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Its a wrap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js" defer></script>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    body{
        font-family: 'Poppins', sans-serif;
    }
</style>
<body>
    <div class="container d-flex justify-content-center align-items-center text-center fs-5" style="min-height: 100vh;">
        <div class="inner border p-5 rounded d-fle">
            Thanks for Booking <br>
        One of our agents is going to confirm your booking
        <div class="button">
            <a href="/" class="btn btn-warning d-grid gap-2 col-6 mx-auto mt-4 fs-3">Stay</a>
        </div>
        </div>
    </div>
</body>
</html>